a{
	color: inherit;
}
a:hover{
		color: blue;
}
	.title {
    border-color: rgb(0,0,50);
    border-bottom: 2px solid;
    padding: 1px 1px;
}
.tag {
    border-color: rgb(0,0,50);
    border-top: 2px solid;
}
.tag li {
    display: inline;
}
ul {
    list-style-type: none;
}
#dataList {
    width: 40%;
    margin: auto;
}
.raport {
    background-color: white;
    border-color: rgb(0,0,50);
    border-left: 7px solid;
    padding: 2% 5%;
    margin: 5% 0%;
    border-radius: 10px;
}
.raport p {
    margin: 20px 0px;
}
@media only screen and (min-width: 1001px) and (max-width:1200px) {
    #dataList {
        width: 50%;
        margin-left: 20%;
    }
}
@media only screen and (min-width: 721px) and (max-width:1000px) {
    #dataList {
        width: 55%;
        margin-left: 15%;
    }
}
@media only screen and (min-width: 521px) and (max-width:720px) {
    #dataList {
        width: 60%;
        margin-left: 10%;
    }
}
@media only screen and (max-width:520px) {
    #dataList {
        width: 60%;
        margin-left: 5%;
    }
}