
@media only screen and (min-width: 1001px) {
	.ch1{
	font-size:50px;
	padding-left:15px;
	}
	
h1{ padding-left:10px; }
h2{ padding-left:15px; }

td p{
	font-size:25px;
	padding-left:5tw;
}

.tableimg{
	width:50px;
	height:50px;
}

.onWhite
 {
	 font-size:20px;
 padding-left:5px;
  padding-bottom:20px;}

 .onBlue{
	 font-size:20px;
 padding-left:5px;
 padding-bottom:20px;}

}
@media only screen and (min-width: 701px) and (max-width:1000px) {
	.ch1{
	font-size:40px;
	padding-left:13px;
	}
	
h1{ padding-left:8px; }
h2{ padding-left:13px; }

td p{
	font-size:22px;
	padding-left:4vw;
}

.tableimg{
	width:40px;
	height:40px;
}

.onWhite
 {
	 font-size:18px;
 padding-left:4px;
  padding-bottom:18px;}

 .onBlue{
	 font-size:18px;
 padding-left:4px;
 padding-bottom:18px;}

}
	

@media only screen and (min-width: 501px) and (max-width:700px) {
	.ch1{
	font-size:36px;
	padding-left:11px;
	}
	
h1{ padding-left:7px; }
h2{ padding-left:11px; }

td p{
	font-size:20px;
	padding-left:3vw;
}
.tableimg{
	width:35px;
	height:35px;
}

.onWhite
 {
	 font-size:16px;
 padding-left:3px;
  padding-bottom:16px;}

 .onBlue{
	font-size:16px;
 padding-left:3px;
  padding-bottom:16px;}

	
}
@media only screen and (max-width:500px) {
	.tableimg{
	width:30px;
	height:30px;
}
.onWhite
 {
  padding-bottom:16px;}

 .onBlue{
  padding-bottom:16px;}
  
  .ch1{
	font-size:25px;
	padding-left:11px;
	}
}


	td{	
width: 50%;
height: 50%;
}

table tr:nth-of-type(odd) {
     background-color:rgb(27,38,65);
	 color:white;
    }

table tr:nth-of-type(even) {
     background-color:white;
	 color:rgb(27,38,65);
    }
	.ctable{
		left:0;
		position:absolute;
	}
	
.ch1{
	font-family:'Arvo-Regular';
	position:relative;
}


.onWhite
 {
  width:auto;
  height:auto;
  color:rgb(27,38,65);
  background:white;
  
 }
 
 .onBlue{
  width:auto;
  height:auto;
  color:white;
  background:rgb(27,38,65);
 }
.lista_contact{
    font-size:20px;
    color:white;
    padding-left:60px;
}