body {
    background-color:rgb(27,38,65);
}
* {
    margin: 0;
    padding: 0;
}

.content{
	top:0;
	position:absolute;
	height:auto;
	
}
#navigationMenu li {
    list-style: none;
	z-index:1000;	
}
@media only screen and (min-height: 801px) {
    #navigationMenu li {
	padding-bottom:4px;
	height: 150px;
    width: 150px;
	}

	.content{
	left:155px;
	}
	
	#navigationMenu a { 
    height: 150px;
    width: 150px;
    }
	
	#navigationMenu span {
		left: 150px;
		font-size: 23px;
		line-height: 150px;
	}
	
	#navigationMenu a:hover span {
		  padding: 0 50px;
	 }
	}

@media only screen and (min-height: 651px) and (max-height:800px) {
    #navigationMenu li {
	padding-bottom:4px;
	height: 125px;
    width: 125px;
	}

	.content{
	left:130px;
	}
	
	#navigationMenu a { 
    height: 125px;
    width: 125px;
    }
	
	#navigationMenu span {
		left: 125px;
		font-size: 21px;
		line-height: 125px;
	}
	
	#navigationMenu a:hover span {
		  padding: 0 50px;
	 }
	}

@media only screen and (min-height: 501px) and (max-height:650px) {
    #navigationMenu li {
	padding-bottom:3px;
	height: 90px;
    width: 90px;
	}
	
	.content{
	left:94px;
	}
	
	#navigationMenu a { 
    height: 90px;
    width: 90px;
    }
	
	#navigationMenu span {
		left: 90px;
		font-size: 18px;
		line-height: 90px;
	}
	 #navigationMenu a:hover span {
		  padding: 0 30px;
	 }
}


@media only screen and (max-height: 500px) and  (min-height: 301px){
    #navigationMenu li {
	padding-bottom:2px;
	height: 60px;
    width: 60px;
	}
	
	.content{
	left:63px;
	}
	
	#navigationMenu a { 
    height: 60px;
    width: 60px;
    }
	
	#navigationMenu span {
		left: 60px;
		font-size: 13px;
		line-height: 60px;
	}
	 #navigationMenu a:hover span {
		  padding: 0 15px;
	 }
}
@media only screen and (max-height: 300px) {
    #navigationMenu li {
	padding-bottom:2px;
	height: 40px;
    width: 40px;
	}
	
	.content{
	left:43px;
	}
	
	#navigationMenu a { 
    height: 40px;
    width: 40px;
    }
	
	#navigationMenu span {
		left: 40px;
		font-size: 10px;
		line-height: 40px;
	}
	 #navigationMenu a:hover span {
		  padding: 0 10px;
	 }
}

#navigationMenu span {
    width: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    font-family: 'Arvo', 'Times New Roman', serif;
    font-weight: bold;
    letter-spacing: 0.6px;
    white-space: nowrap;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
	z-index:1000;
}

#navigationMenu a { 
    display: block;
    position: fixed;
	z-index:1000;
}

    #navigationMenu a:hover span {
        width: auto;
        overflow: visible;
		z-index:1000;
    }

    #navigationMenu a:hover {
        text-decoration: none;
        -moz-box-shadow: 0 0 5px #9ddff5;
        -webkit-box-shadow: 0 0 5px #9ddff5;
        box-shadow: 0 0 5px #9ddff5;
		z-index:1000;
    }

#navigationMenu .home {
    background: url("../img/home.png") no-repeat;
	background-size: cover;
	border-bottom: 3px solid gray;
	border-right:3px solid gray;
}

    #navigationMenu .home:hover {
        background: url("../img/home.png") no-repeat;
		background-size: cover;
    }

    #navigationMenu .home span {
        background-color: #1e8bb4;
        color: #223a44;
        text-shadow: 1px 1px 0 #44a8d0;
    }

#navigationMenu .map {
    background: url("../img/map.png") no-repeat;
	background-size: cover;
	border-bottom: 3px solid gray;
	border-right:3px solid gray;
}

    #navigationMenu .map:hover {
       background: url("../img/map.png") no-repeat;
	   background-size: cover;
    }

    #navigationMenu .map span {
        background-color: #1e8bb4;
        color: #223a44;
        text-shadow: 1px 1px 0 #44a8d0;
    }

#navigationMenu .data {
   background: url("../img/date.png") no-repeat;
   background-size: cover;
   border-bottom: 3px solid gray;
	border-right:3px solid gray;
}

    #navigationMenu .data:hover {
        background: url("../img/date.png") no-repeat;
		background-size: cover;
    }

    #navigationMenu .data span {
        background-color: #1e8bb4;
        color: #223a44;
        text-shadow: 1px 1px 0 #44a8d0;
    }

#navigationMenu .add {
   background: url("../img/add.png") no-repeat;
   background-size: cover;
   border-bottom: 3px solid gray;
	border-right:3px solid gray;
}

    #navigationMenu .add:hover {
       background: url("../img/add.png") no-repeat;
	   background-size: cover;
    }

    #navigationMenu .add span {
        background-color: #1e8bb4;
        color: #223a44;
        text-shadow: 1px 1px 0 #44a8d0;
    }

#navigationMenu .help {
    background: url("../img/help.png") no-repeat;
	background-size: cover;
	border-bottom: 3px solid gray;
	border-right:3px solid gray;
}

    #navigationMenu .help:hover {
        background: url("../img/help.png") no-repeat;
		background-size: cover;
    }

    #navigationMenu .help span {
        background-color: #1e8bb4;
        color: #223a44;
        text-shadow: 1px 1px 0 #44a8d0;
    }