.updateButton {
    position:absolute;
    top:4.2vh;	
}
.coordinates{
    position:relative;
}  
form {
    background-color: white;
    border: 2px solid;
    border-color: rgb(0,0,50);
    width: 40%;
    margin: auto;
    border-radius: 10px;
}
.c1 {
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 0px;
}
input {
    margin-top: 4px;
    margin-right: 4px;
    border-radius: 10px;
    padding: 2px 2px;
    cursor: pointer;
}
input:focus,textarea:focus {
    border: 2px solid;
    border-color: rgb(0,0,50);
}
input[type=submit] {
    background-color: white;
    color: rgb(0,0,50);
    margin-bottom: 30px;
    width: 70px;
    padding: 4px;
}
input[type=button] {
    background-color: white;
    color: rgb(0,0,50);
    width: 70px;
    padding: 4px;
}
.title {
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px;
}
textarea {
    margin: auto;
    margin-top: 4px;
    margin-right: 4px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;
    height: 100px;
    cursor: pointer;
}
