table tr:nth-of-type(odd) {
     background-color:rgb(27,38,65);
	 color:white;
    }

table tr:nth-of-type(even) {
     background-color:white;
	 color:rgb(27,38,65);
    }
	.ctable{
		left:0;
		position:absolute;
	}
	
.ch1{
	font-size:50px;
	font-family:'Papyrus';
	position:relative;
	padding-left:5tw;
}

.cimg{
	width:180px;
	height:180px;
}

td{	width: 50%;
	height: 50%;

	
}

h1{
	padding-left:5tw;
}

td p{
	font-size:25px;
	padding-left:5tw;
}

