.post {
    width: 40%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 8%;
    background-color: white;
    border-color: rgb(0,0,50);
    border-left: 7px solid;
    padding: 2% 6%;
    border-radius: 10px;
}
.post li {
    margin: 5% 0%;
    text-align: justify;
}
.title {
    border-color: rgb(0,0,50);
    border-bottom: 2px solid;
    padding: 1px 1px;
}
.tag {
    border-color: rgb(0,0,50);
    border-top: 2px solid;
}
.tag li {
    display: inline;
}
ul {
    list-style-type: none;
}
input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
}
.tag #tagList {
    font-weight: bold;
}
.title {
    font-weight: bold;
}
#map {
    width: 75%;
}
@media only screen and (max-width:800px) {
    .post {
        width: 55%;
        margin-left: 8%;
        margin-bottom: 15%;
        margin-top: 5%;
    }
    #map {
        width: 90%;
    }
}
