#map{
height:100vh;
width:100%;
    position: absolute;
    left:0px;
    top:60px;
    background-color:white;
}
#choseTag {
    position: absolute;
    left:50px;
}
#choseTag li {
    display: inline;
}
input,select {
    border-color: rgb(0,0,50);
    border: 3px solid;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    color: rgb(0,0,50);
    padding: 4px;
}
input {
    margin-left: 10px;
    width: 70px;
}
input:hover ,select:hover{
    background-color: lightblue;
}
@media only screen and (min-width: 341px) and (max-width:400px) {
    #choseTag {
        left:20px;
    }
    select {
        width: 150px;
    }
}
@media only screen and (max-width:340px) {
    #choseTag {
        left:20px;
    }
    select {
        width: 100px;
    }
}
