li:nth-of-type(even) {
    background-color:white;
	color:rgb(27,38,65)
}
li:nth-of-type(odd) {
    background-color:rgb(27,38,65);
	color:white;
}
.onWhite
{	width:auto;
	height:auto;
	color:rgb(27,38,65);
	background:white;
 }
.onBlue{
	width:auto;
	height:auto;
	color:white;
	background:rgb(27,38,65);

 }
.lista_contact{
	color:white;
	background:rgb(27,38,65);
}
.ulClass{
	left:0;
	position:absolute;
}
#contactList{
	background:rgb(27,38,65);
	color:white;
}
#ulContactList{
	padding-left:5vw;
}
@media only screen and (max-width:500px) {	
    .H{
        font-family:'Arvo-Regular';
        position:relative;
        left:7px;
        font-size:25px;
        padding-left:15px;
        padding-top:5px;
	}
    li p{
        font-family:'Arvo-Regular';
        font-size:15px;
        padding-left:5vw;
	}
    .photo{
        width:25px;
        height:25px;
	}
    #ulContactList{
        padding-left:5vw;
	}	
}
@media only screen and (min-width: 501px) and (max-width:700px) {
    .H{
        font-family:'Arvo-Regular';
        position:relative;
        left:9px;
        font-size:30px;
        padding-left:15px;
        padding-top:5px;
	}
    li p{
        font-family:'Arvo-Regular';
        font-size:18px;
        padding-left:5vw;
	}
    .photo{
        width:30px;
        height:30px;
	}
}
@media only screen and (min-width: 701px) and (max-width:1000px) {
    .H{
        font-family:'Arvo-Regular';
        position:relative;
        left:9px;
        font-size:35px;
        padding-left:15px;
        padding-top:5px;
    }
    li p{
        font-family:'Arvo-Regular';
        font-size:20px;
        padding-left:5vw;
    }
    .photo{
        width:35px;
        height:35px;
	}
}
@media only screen and (min-width: 1001px) {
    .H{
        font-family:'Arvo-Regular';
        position:relative;
        left:9px;
        font-size:45px;
        padding-left:15px;
        padding-top:5px;
	}
    li p{
        font-family:'Arvo-Regular';
        font-size:30px;
        padding-left:5vw;
	}
    .photo{
        width:50px;
        height:50px;
	}
}